

{{ define "head"}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon-32x32.png">
    <title>{{ .Title }}</title>
</head>
{{end}}

{{ define "header"}}
<header>
    <h1>Misterious Diary</h1>
</header>
{{end}}


{{ define "footer"}}
<footer>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>

        </ul>
    </nav>
    <p>&copy; 2024 TR Diary. </p>
</footer>
{{end}}


{{ define "left-sidebar"}}

    <div class="sidebar left-sidebar">
        <!-- Here should go 'inner thouths on what Tom Riddle diary talk with you' -->
        <h2>Notes</h2>

        <p>{{ . }}</p> 
    </div>

{{end}}

