
{{ define "head"}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
{{end}}

{{ define "header"}}
<header>
    <h1>Misterious Diary</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/support">Support</a></li>
        </ul>
    </nav>
</header>
{{end}}


{{ define "footer"}}
<footer>
    <p> TR Diary, Copyrights are reserved for all supporters 2024(c)</p>
</footer>
{{end}}


