

{{ define "head"}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon-32x32.png">
    <title>{{ .Title }}</title>
</head>
{{end}}

{{ define "header"}}
<header>
    <h1>Misterious Diary</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/support">Support</a></li>
        </ul>
    </nav>
</header>
{{end}}


{{ define "footer"}}
<footer>
    <p> TR Diary, Copyrights are reserved for all supporters 2024(c)</p>
</footer>
{{end}}


{{ define "left-sidebar"}}
<div class="container">
    <div class="sidebar left-sidebar">
        <h2>Left Sidebar</h2>
        <p>Content for the left sidebar. </p>
        <p>{{ . }}</p> 
    </div>
</div>
{{end}}

